*.iml
.gradle
.idea/*
!.idea/codeStyles
build
!**/src/**/build
node_modules
.firebase
/local.properties

*keystore.properties
google-*.json
*.jks
config.xml
!ci-dummies/keystore.properties
!ci-dummies/upload-keystore.properties
!ci-dummies/google-*.json
!ci-dummies/*.jks
!ci-dummies/config.xml
