*.iml
.gradle
build
/.idea/workspace.xml
/.idea/libraries
/local.properties
/keystore.properties
/gradle.properties
/app/keystore.jks
/app/google-services.json
/app/google-play-auto-publisher.json
/app/src/main/res/values/config.xml
