*.iml
.gradle
.idea/*
!.idea/codeStyles
build
node_modules
/local.properties

*keystore.properties
google-*.json
*.jks
config.xml
!travis-dummies/keystore.properties
!travis-dummies/google-*.json
!travis-dummies/*.jks
!travis-dummies/config.xml
