language: android
jdk: oraclejdk8
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
android:
  components:
    - android-25
    - tools
    - platform-tools
    - build-tools-25.0.0
    - extra-android-m2repository
    - extra-google-m2repository
before_script:
  - chmod +x gradlew setup.sh build.sh upload.sh
  - ./setup.sh
script: ./build.sh
after_success: ./upload.sh
after_failure:
  - cat app/build/reports/lint/lint-results.xml
  - cat app/build/reports/lint/lint-results.html
  - cat app/build/reports/findbugs/findbugs.html
