language: android
jdk: oraclejdk8
dist: trusty
sudo: false
group: edge
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.0
    - android-25

    # Extras
    - extra-android-m2repository
    - extra-google-m2repository
before_script:
  - mv travis-dummies/google-services.json app/google-services.json
  - mv travis-dummies/keystore.properties keystore.properties
  - mv travis-dummies/keystore.jks app/keystore.jks
  - chmod +x gradlew
script: ./gradlew clean build lint
after_script: cat app/lint-report.html
