<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.supercilex.robotscouter.feature.autoscout">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/feature_auto_scout_title">
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <!-- Only for API 20 or lower -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

</manifest>
