service cloud.firestore {
  match /databases/{database}/documents {
    match /default-templates/{sub=**} {
      allow read;
    }

    match /teams/{teamId} {
      function isExistingOwner() {
        return resource.data.owners[request.auth.uid] is int;
      }
      function isValidTeam() {
        return request.resource.data.number is int
                 && request.resource.data.owners[request.auth.uid] is int
                 && request.resource.data.templateId is string
                 && request.resource.data.activeTokens is map
                 && request.resource.data.pendingApprovals is map
                 && request.resource.data.hasCustomName is bool
                 && request.resource.data.hasCustomMedia is bool
                 && request.resource.data.hasCustomWebsite is bool
                 && request.resource.data.shouldUploadMediaToTba is bool
                 && request.resource.data.mediaYear is int
                 && request.resource.data.timestamp is timestamp;
      }

      // Hack: we query the list of teams before the team is written to the database which
      // Firestore doesn't support. Since adding a success listener for when the write completes
      // would break offline support, we're kinda stuck here.
      allow read: if request.auth != null;
      allow create: if isValidTeam();
      allow update: if (isExistingOwner() || hasPendingApproval()) && isValidTeam();
      allow delete: if isExistingOwner();

      match /scouts/{scoutId} {
        function isScoutOwner() {
          return get(/databases/$(database)/documents/teams/$(teamId)).data.owners[request.auth.uid] is int;
        }

        allow read: if request.auth != null;
        allow create, update: if isScoutOwner() && isValidScout();
        allow delete: if isScoutOwner();

        match /metrics/{metricId} {
          allow read: if request.auth != null
          allow create, update: if isScoutOwner() && isValidMetric();
          allow delete: if isScoutOwner();
        }
      }
    }

    match /templates/{templateId} {
      function isExistingOwner() {
        return resource.data.owners[request.auth.uid] is timestamp;
      }

      allow read: if request.auth != null;
      allow create: if request.resource.data.owners[request.auth.uid] is timestamp && isValidScout();
      allow update: if (isExistingOwner() || hasPendingApproval()) && isValidScout();
      allow delete: if isExistingOwner();

      match /metrics/{metricId} {
        function isTemplateOwner() {
          return get(/databases/$(database)/documents/templates/$(templateId))
                   .data.owners[request.auth.uid] is timestamp;
        }

        allow read: if request.auth != null;
        allow create, update: if isTemplateOwner() && isValidMetric();
        allow delete: if isTemplateOwner();
      }
    }

    match /users/{uid} {
      function isMatchingUid() {
        return uid == request.auth.uid
      }

      allow read, write: if isMatchingUid();

      match /prefs {
        match /{pref} {
          allow read, delete: if isMatchingUid();
        }

        match /defaultTemplateId {
          allow create, update: if isMatchingUid() && request.resource.data.value is string;
        }

        match /nightMode {
          allow create, update: if isMatchingUid() && request.resource.data.value in ["auto", "yes", "no"];
        }

        match /uploadMediaToTba {
          allow create, update: if isMatchingUid() && request.resource.data.value in ["ask", "yes", "no"];
        }

        match /hasShownAddTeamTutorial {
          allow create, update: if isMatchingUid() && request.resource.data.value is bool;
        }

        match /hasShownSignInTutorial {
          allow create, update: if isMatchingUid() && request.resource.data.value is bool;
        }

        match /shouldShowRatingDialog {
          allow create, update: if isMatchingUid() && request.resource.data.value is bool;
        }
      }
    }

    match /deletion-queue/{uid} {
      allow write: if uid == request.auth.uid;
    }
  }
}

function hasPendingApproval() {
  return request.resource.data.pendingApprovals[request.auth.uid] in resource.data.activeTokens.keys();
}

function isValidScout() {
  return request.resource.data.templateId is string && request.resource.data.timestamp is timestamp;
}

function isValidMetric() {
  return request.resource.data.type in [0, 1, 2, 3, 4, 5] && request.resource.data.position is int;
}
