<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="com.supercilex.robotscouter">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".RobotScouterApp"
        android:label="${appName}"
        android:allowBackup="false"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/RobotScouter.Launcher"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />

        <activity
            android:name=".HomeActivity"
            android:label="${appName}"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".feature.scouts.ScoutListActivity"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".feature.templates.TemplateListActivity"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".feature.settings.SettingsActivity"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".LinkReceiverActivity"
            android:label=""
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/RobotScouter.Translucent">

            <intent-filter
                android:label="@string/app_name"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="supercilex.github.io"
                    android:pathPrefix="/Robot-Scouter/data"
                    android:scheme="https" />
            </intent-filter>

        </activity>

    </application>

</manifest>
