<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.supercilex.robotscouter.feature.settings">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/feature_settings_title">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_title"
            android:parentActivityName="com.supercilex.robotscouter.HomeActivity"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

        </activity>

    </application>

</manifest>
